@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model AgonesDashboard.ViewModels.Fleet.FleetIndex
@{
    ViewData["Title"] = "Fleet";
}
<table class="table table-sm">
    <thead>
        <tr>
            <th>Namespace</th>
            <th>Name</th>
            <th>Scheduling</th>
            <th>ReadyReplicas</th>
            <th>ReservedReplicas</th>
            <th>AllocatedReplicas</th>
            <th>Operation</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var (k, v) in Model.Fleets)
            {
                var isNamespaceFirst = true;
                foreach (var fleet in v)
                {
                    <tr>
                        @if (isNamespaceFirst)
                        {
                            <td rowspan="@v.Count()">@k</td>
                        }
                        <td>
                            <a asp-area="" asp-controller="Fleet" asp-action="Detail" asp-route-ns="@k" asp-route-name="@fleet.Name">@fleet.Name</a>
                        </td>
                        <td>@fleet.Scheduling</td>
                        <td>@fleet.ReadyReplicas</td>
                        <td>@fleet.ReservedReplicas</td>
                        <td>@fleet.AllocatedReplicas</td>
                        <td>
                            <form asp-area="" asp-controller="Fleet" asp-action="Allocate" asp-route-ns="@k" asp-route-fleetName="@fleet.Name" method="post">
                                <button type="submit" class="btn btn-outline-primary btn-sm">Allocate</button>
                            </form>
                        </td>
                    </tr>
                    isNamespaceFirst = false;
                }
            }
        }
    </tbody>
</table>
<hr />

@if (hostingEnv.IsDevelopment())
{
    <details>
        <summary>viewmodel json</summary>
        <pre>@Model.ToString()</pre>
    </details>
}