@model AgonesDashboard.ViewModels.GameServer.GameServerList
@{
    ViewData["Title"] = "GameServer";
}
<table>
    <thead>
        <tr>
            <th>Namespace</th>
            <th>Name</th>
            <th>Container name</th>
            <th>Container image</th>
            <th>State</th>
            <th>Address</th>
            <th>Host port</th>
            <th>Container port</th>
            <th>Protocol</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var (k, v) in Model.GameServers)
            {
                var isNamespaceFirst = true;
                foreach (var gs in v)
                {
                    var isGameServerFirst = true;
                    var containerCount = gs.GameServerSimpleContainer?.Count();
                    foreach (var c in gs.GameServerSimpleContainer)
                    {
                        <tr>
                            @if (isNamespaceFirst)
                            {
                                <td rowspan="@Model.ContainerTotal[k]">@k</td>
                            }
                            @if (isGameServerFirst)
                            {
                                <td rowspan="@containerCount">@gs.Name</td>
                            }
                            <td>@c.Name</td>
                            <td>@c.Image</td>
                            @if (isGameServerFirst)
                            {
                                <td rowspan="@containerCount">@gs.State</td>
                                <td rowspan="@containerCount">@gs.Address</td>
                                <td rowspan="@containerCount">@gs.HostPort</td>
                                <td rowspan="@containerCount">@gs.ContainerPort</td>
                                <td rowspan="@containerCount">@gs.Protocol</td>
                            }
                        </tr>
                        isGameServerFirst = false;
                        isNamespaceFirst = false;
                    }
                }
            }
        }
    </tbody>
</table>
<hr />
<details>
    <summary>viewmodel json</summary>
    <pre>@Model.ToString()</pre>
</details>
