@using AgonesDashboard.ViewModels.GameServer
@using Microsoft.AspNetCore.Mvc.Rendering
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@model GameServerIndex
@{
    ViewData["Title"] = "GameServer";
}
<table class="table table-sm">
    <thead>
        <tr>
            <th>@Localizer["Namespace"]</th>
            <th>@Localizer["GameServerName"]</th>
            <th>@Localizer["GameServerContainerName"]</th>
            <th>@Localizer["GameServerContainerImage"]</th>
            <th>@Localizer["GameServerState"]</th>
            <th>@Localizer["GameServerAddress"]</th>
            <th>@Localizer["GameServerHostPort"]</th>
            <th>@Localizer["GameServerContainerPort"]</th>
            <th>@Localizer["GameServerProtocol"]</th>
            <th>@Localizer["GameServerOperation"]</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var (k, v) in Model.GameServers)
            {
                var isNamespaceFirst = true;
                foreach (var gs in v)
                {
                    var isGameServerFirst = true;
                    var containerCount = gs.GameServerSimpleContainer?.Count();
                    foreach (var c in gs.GameServerSimpleContainer ?? new List<GameServerSimpleContainer>())
                    {
                        <tr>
                            @if (isNamespaceFirst)
                            {
                                <td rowspan="@Model.ContainerTotal[k]">@k</td>
                            }
                            @if (isGameServerFirst)
                            {
                                <td rowspan="@containerCount">
                                    <a asp-area="" asp-controller="GameServer" asp-action="Detail" asp-route-ns="@k" asp-route-name="@gs.Name">@gs.Name</a>
                                </td>
                            }
                            <td>@c.Name</td>
                            <td>@c.Image</td>
                            @if (isGameServerFirst)
                            {
                                <td rowspan="@containerCount">@gs.State</td>
                                <td rowspan="@containerCount">@gs.Address</td>
                            }
                            <td>@c.HostPort</td>
                            <td>@c.ContainerPort</td>
                            <td>@c.Protocol</td>
                            @if (isGameServerFirst)
                            {
                                <td rowspan="@containerCount">
                                    <form asp-area="" asp-controller="GameServer" asp-action="Delete" asp-route-ns="@k" asp-route-name="@gs.Name" method="post">
                                        <input type="hidden" name="name" value="@gs.Name" />
                                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                    </form>
                                </td>
                            }
                        </tr>
                        isGameServerFirst = false;
                        isNamespaceFirst = false;
                    }
                }
            }
        }
    </tbody>
</table>

@if (hostingEnv.IsDevelopment())
{
    <hr />
    <details>
        <summary>viewmodel json</summary>
        <pre><code>@Model.ToString()</code></pre>
    </details>
}